* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-bg: rgba(46, 47, 66, 0.7);
  --white-bg: #fff;
  --modal-bg: #fcfcfc;
}
img {
  display: block;
}
body {
  background-color: var(--white-bg);
  color: var(--text);
  font-family: var(--main-font);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1128px;
  margin: 0 auto;
  gap: 120px;
}
.icon {
  font-size: 24px;
  color: #fff;
}
.top__nav {
  height: 72px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent);
}
.menu__nav {
  display: flex;
  gap: 76px;
  align-items: center;
}
.nav__item,
.nav__address__item {
  display: flex;
  gap: 40px;
}
.nav__address {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
  text-transform: uppercase;
}
.logo__part2 {
  color: var(--dark);
}
.nav__link {
  font-family: var(--main-font);
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link:hover {
  color: var(--pressed-state);
}
.link:focus {
  color: var(--pressed-state);
}
.address__link {
  color: var(--text);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.Studio {
  color: #404bbf;
  border-bottom: 4px solid #404bbf;
  padding-bottom: 23px;
}
/* END NAV SECTION */
/* START HERO SECTION */
.hero__bg {
  height: 600px;
  background-image: url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1440px 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.main__heading {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-bg);
}
.primary__button {
  color: var(--white-bg);
  border: none;
  width: 169px;
  height: 56px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
/* END HERO SECTION */
/* START FEATURES SECTION */
.features__section_text {
  display: flex;
  margin: 120px 0;
  gap: 24px;
}
.feature__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
  width: 264px;
}
.feature__heading {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
/* END FEATURES SECTION */
/* START SECTION 2 SECTION */
.section-2_heading {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.section-2__imgs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 116px;
}
/* END SECTION 2 SECTION */
/* START OUR TEAM SECTION */
.our-team__bg {
  background-color: var(--light);
}
.our-team__heading {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  padding: 120px 0 72px 0;
}
.our-team__imgs {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;
}
.team-card__heading {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
  padding: 29px 0 8px 0;
}
.team-card__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text);
  padding-bottom: 8px;
}
.team-card {
  width: 264px;
  height: 428px;
  background-color: var(--white-bg);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.icon-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.icon-cont li {
  padding-bottom: 32px;
}
.icon-card:before {
  color: #fff;
  font-size: 16px;
}
.social-list-link {
  display: block;
  background-color: #4d5ae5;
  padding: 8px;
  border-radius: 50%;
}
/* END OUR TEAM SECTION */
.our-Custumers_heading {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  padding: 120px 0 72px 0;
}
/* START FOOTER SECTION */
.footer__bg {
  height: 312px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
}
.container__footer {
  display: flex;
  width: 1156px;
  height: 112px;
  margin: 0 auto;
  gap: 120px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
  text-transform: uppercase;
}
.logo-footer.link {
  text-decoration: none;
}
.logo__part2-footer {
  color: #f4f4fd;
}
.footer__text {
  display: flex;
  width: 264px;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.footer__text__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.social-heading {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-social-list-link {
  display: block;
  background-color: #4d5ae5;
  padding: 8px;
  border-radius: 50%;
}
.icon-cont-footer {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  gap: 16px;
  width: 208px;
  height: 40px;
}
.email__imput {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-heading {
  color: var(--white, #fff);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.foter__email {
  display: flex;
  gap: 24px;
}
.foter__imput {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.footer__subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.foter__svg {
  margin-left: 16px;
}
.text__Subscribe {
  color: var(--white, #fff);
  text-align: center;
  left: 24px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.emoge__telegram {
  width: 24px;
  height: 24px;
}
.email {
  position: relative;
  top: 8px;
  left: 16px;
  width: 36px;
  height: 24px;
  color: var(--white, #fff);
  font-size: 12px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.48px;
}
/* END FOOTER SECTION fggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/
.backdrop.is-hidden {
  padding: 72px 24px 24px 24px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.block.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.close {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 360px;
  top: 24px;
  font-size: 16px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 1;
  border-radius: 15px;
}
.moda {
  margin-bottom: 8px;
}
.moda__comment {
  margin-bottom: 16px;
}
.moda__par {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.block__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.moda__reg {
  position: relative;
}
.block__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.block__input:focus {
  border-color: #4d5ae5;
}
.block__svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #4d5ae5;
}
.moda__input {
  position: relative;
}
.moda__chec {
  margin-bottom: 24px;
}
.lable__chec {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.moda__spam {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.moda__textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

#user-name {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  width: 360px;
  height: 40px;
  left: 0px;
  top: 18px;
  bottom: 0%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border-color: #4d5ae5;
}

#user-name:hover {
  border-radius: 4px;
  border: 1px solid var(--iris, #4d5ae5);
}
#user-phone {
  box-sizing: border-box;
  position: absolute;
  width: 360px;
  height: 40px;
  left: 0px;
  top: 84px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}
#user-email {
  box-sizing: border-box;
  position: absolute;
  width: 360px;
  height: 40px;
  left: 0px;
  top: 150px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}
#user-comment {
  box-sizing: border-box;
  position: absolute;
  width: 360px;
  height: 120px;
  left: 0px;
  top: 216px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  resize: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.48px;
}
.moda__text {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
textarea {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-family: Roboto;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.moda__check {
  width: 338px;
  height: 16px;
  flex-direction: column;
  flex-shrink: 0;
  color: #8e8f99;
  font-size: 12px;
  font-family: Roboto;
  line-height: 16px;
  letter-spacing: 0.48px;
}
.moda__checkbox {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 0px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}
.send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text__send {
  width: 105px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
}
.moda__form {
  position: absolute;
  top: 464px;
  left: 24px;
  border-radius: 4px;
}
.lable__chec a {
  color: #4d5ae5;
}

input:checked + .moda__input .block__svg {
  fill: #F4F4FD;
}

input:checked + .moda__chec .moda__spam {
  background-color: #404bbf;
}

input:checked + .moda__chec .lable__chec {
  border: none;
}

.moda__input input {
  width: 100%;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.moda__input input:focus {
  border-color: #4D5AE5;
}

.moda__textarea {
  width: 100%;
  line-height: 1.17;
}

input[type="checkbox"]:checked + .moda__chec .moda__spam {
  background-color: #404bbf;
}

input[type="checkbox"]:checked + .moda__chec .lable__chec {
  border: none;
}

input[type="checkbox"]:checked + .moda__input .block__svg {
  fill: #f4f4fd;
  border-color: #4d5ae5;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}